@*<link href="~/Content/Site.css" type="text/css"  rel="stylesheet" />*@

<html  ng-app="Application">
<head>
    <style id="stndz-style"></style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Dashboard Template for Bootstrap</title>
    <script src="~/Scripts/jquery.slim.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/chart.min.js"></script>
  
    <script src="~/Scripts/application.js"></script>

    <!-- Custom styles for this template -->
  

</head>
    <body  ng-controller="MainController">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    </body>
</html>
